{
    ViewBag.Title = "Home Page";
}
<table class="table">
    <thead>
        <tr>
            <td>Id</td>
            <td>MasterId</td>
            <td>RoleId</td>
        </tr>
    </thead>
    <tbody>
    <td></td>
    </tbody>
</table>
@ViewBag.message
@ViewBag.Role[0]