
@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>
<input placeholder="Keywords" id="kw" />
<div id="result"></div>
@section scripts{
    <script>
        


        $(document).ready(function () {
            load();
            $("#kw").keyup(function () {
                
                load();
            });

        });
        function load() {
            var name = $("#kw").val();
            $.ajax({
                url: "/TestAjax/SearchAction",
                data: { Keywords: name },
                success: function (response) {
                    $("#result").html(response);
                }
            });
        }
    </script>
}
    