<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/test.js"></script>
    <title></title>
</head>
<body ng-app="myModule">
    <!--<div ng-controller="TestController">
        <input type="text" ng-model="student.Name" />
        <input type="text" ng-model="student.Class" />
        <input type="text" ng-model="student.Number" />
        <br />
        Name:{{student.Name}}
        <br />
        Class:{{student.Class}}
        <br />
        Number:{{student.Number}}
        <br />
    </div>-->
    <div ng-controller="TestController">
        <table>
            <thead>
            <tr>
                <td>Name</td>
                <td>Like</td>
                <td>Dislike</td>
                <td>Action</td>
                <td>Status</td>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="technology in techonology">
                    <td>{{technology.Name}}</td>
                    <td>{{technology.Likes}}</td>
                    <td>{{technology.Dislike}}</td>
                    <td>
                        <button ng-click="increaseLike(technology)">Like</button>
                        <button ng-click="increaseDisLike(technology)">Dislike</button>
                    </td>
                    <td>{{technology.Status | status}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-controller="TestController">
        <ul>
            <li ng-repeat="students in student ">
                {{students.Name}}
                <ul>
                    <li ng-repeat="country in students.country">{{country.name}}</li>
                </ul>
            </li>
        </ul>
    </div>
</body>
</html>