@model List<CaoXuanTruong.Models.Category>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@foreach (var item in Model)
{
    <ul>
       
        <li><a href="/Category/Product/@item.Id">@item.NameVN</a></li>
    </ul>
   
}
