:host {
    background: white;
    display: block;
}
nav {
    padding: 0 22px;
    display: flex;
    justify-content: space-between;
}
.logo {
    color: #4285F4;
    font-weight: bolder;
}
.search {
    align-self: center;
    position: relative;
}
input {
    color: red;
    font-size: 14px;
    border: none;
    border-bottom: 2px solid;
    line-height: 2rem;
    min-width: 250px;
    outline: none;
}


i {
    font-size: 20px;
    position: absolute;
    right: 8px;
    top: 8px;
}

